body {
    background-color: #fff; /* Dark background */
}
.dark-theme {
    background: #000106;
   
    color: #fff;
}
/* Default light theme */
.navbar {
    background-color: #fff;
    color: #000106;
    
}
.navbar .nav-link:hover{
    color:#B88A44;
}
.navbar .dropdown-item:hover{
    background-color: #fff;
    color:#B88A44;
}
.navbar .nav-link,
.navbar .navbar-brand span,
.navbar .nav-icon{
    color: #000106;
    font-size: 18px;
    font-weight:50px ;
}
.dark-theme .navbar-toggler .dropdown-item{
    border-color: #fff;
}
/* Dark theme */
.dark-theme .navbar {
    background-color: #000106;
    color: #fff;
}

.dark-theme .navbar .nav-link,
.dark-theme .navbar .navbar-brand span,
.dark-theme .navbar .nav-icon {
    color: #fff; 
    font-size: 18px;
    font-weight:50px ;
}
.dark-theme .navbar .nav-link:hover{
    color:#B88A44;
}
/* Optional: Change color of dropdown items in dark theme */
.dark-theme .navbar .dropdown-menu {
    background-color: #000106;
    border-color: #fff;
}

.dark-theme .navbar .dropdown-item {
    color: #fff;
}

.dark-theme .navbar .dropdown-item:hover {
    background-color: #333;
    color: #B88A44;
}

.button-switch {
    display: inline-flex;
    width: 60px;
    height: 28px;
    border-radius: 20px;
    border-color: #141313;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
    font-family: Arial, sans-serif;
}

.button-switch .switch-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 55%;
    height: 100%;
    transition: transform 0.4s;
    pointer-events: none;
}

.button-switch .text-en {
    background-color: #1E5B53;
    left: 0;
    border-radius: 45%;
    font-size: 12px;
}

.button-switch .text-my {
    font-size: 12px;
    background-color: #B88A44;
    right: 0;
    transform: translateX(100%);
    border-radius: 45%;
}

.button-switch.active .text-en {
    transform: translateX(-100%);
}

.button-switch.active .text-my {
    transform: translateX(0);
}
.btn-custom:hover{
    background-color: #2b7067;
    color:#B88A44;
}
.dark-theme .btn-custom:hover {
    color: #f8f9fa; 
}
.recipe-text{
    color:#000106;
}
.dark-theme .recipe-text{
    color:#f8f9fa;
}
.border-des{
    border: 3px solid #3ea497;
    border-radius: 15px;
}
.dark-theme .border-des{
    border: 3px solid #2b7067;
    border-radius: 15px;
}
.food-image{
    animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate {
    100%{
        transform: rotate(360deg);
    }
}
.btn-success {
    background-color: #00cc66; /* Green button */
    border: none;
}
.btn-success:hover {
    background-color: #009955; /* Darker green on hover */
}
.language-icon, .theme-icon {
    color: #ffffff; /* White icons */
}
.recipe-text{
    color:#000106;
}
.dark-theme .recipe-text{
    color:#f8f9fa;
}
.border-des{
    border: 3px solid #3ea497;
    border-radius: 15px;
}
.dark-theme .border-des{
    border: 3px solid #2b7067;
    border-radius: 15px;
}
.bookmark{
    color: #2b7067;
    max-width: 20%;
}
.linkicon{
    color: #f4d19d;
}